.wrapper {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  font-size: 80px;
  width: 100%;
}


.navigator {
  display: flex;
  font-size: 30px;
  height: 60px;
  padding: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
  box-sizing: border-box;
}


.list {
  background-color: rgb(0, 0, 0);
  font-size: 30px;
  width: 100%;
  display: flex;
  padding: 10px;
}


.list a {
  background-color: rgb(0, 0, 0);
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: center;
  background-position: center;
  align-items: center;
  height: 400px;
  min-height: 400px;
  width: 100%;
  min-height: 400px;

}


.swiper {
  width: 300px;
  height: 400px;
}


.swiper a {
  /* background-color: rgb(253, 0, 0); */
  /* background-image: url("../../../assets/img/Verdikt1.jpg"); */
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
  /* min-width: 400px; */
  min-height: 400px;
  width: 100%;
  /* min-width: 400px; */
  min-height: 400px;
}


.cart {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
  min-width: 300px;
  min-height: 400px;
  max-width: 300px;
  width: 100%;
}


@media (max-width: 1920px) {
  .list {
    grid-template-columns: repeat(3, 1fr)
  }
}


@media (max-width: 1070px) {
  .list {
    grid-template-columns: repeat(2, 1fr)
  }
}


@media (max-width: 680px) {
  .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: initial;
    margin-top: 40px;
  }

  .list a {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    min-height: initial;
    height: auto;
  }

  .list a.cart {
    min-width: initial;
    max-width: initial;
    width: 100%;
  }

  .swiper {
    width: auto;
    height: auto;
  }
  .navigator a{
    font-size: 16px;
  }
}

.cart img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.text {
  font-size: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;

}

.text a {
  max-height: 50px;
  min-height: 0px;
  height: 50px;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 56px;
  }
}

@media (min-width: 998px) {
  h1 {
    font-size: 46px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 35px;
  }
}

@media (min-width: 576px) {
  h1 {
    font-size: 24px;
  }
}

@media (max-width: 576px) {}