.product-carousel .carousel__slide,
.product-carousel .carousel {
  height: 400px !important;
  width: 400px !important;
  perspective-origin: center center;
}



.product-carousel .test {
  height: 200px;
  width: 200px;
}

textarea {
  background-color: transparent;
  font-size: 30px;
  color: rgb(4, 255, 0) !important;
  border: 1px solid rgb(8, 0, 255);
  margin: 2 40px;
  padding: 5px;
  width: 100%;
  min-height: 100px;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  textarea {
    text-align: center;
    height: auto;
  }
}

@media (max-width: 420px) {
  textarea {
    font-size: 18px;
  }

  .product-carousel .carousel__slide,
  .product-carousel .carousel {
    height: 300px !important;
    width: 300px !important;
    perspective-origin: center center;
  }

  .carousel__container .carousel__slide:nth-child(1) {
    transform: rotateY(0deg) translateZ(150px) !important;

  }
  .carousel__container .carousel__slide:nth-child(2) {
    transform: rotateY(90deg) translateZ(150px) !important;

  }
  .carousel__container .carousel__slide:nth-child(3) {
    transform: rotateY(180deg) translateZ(150px) !important;

  }
  .carousel__container .carousel__slide:nth-child(4) {
    transform: rotateY(270deg) translateZ(150px) !important;

  }
}



.wrapper {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  font-size: 80px;
}

.carousel__slide,
.carousel {
  height: 400px;
  width: 400px;
}

.carousel__slide {
  /* transform: translateZ(200px) !important; */
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.navigator {
  /* background-color: rgb(255, 0, 0); */
  border-bottom: 1px solid blue;
  /* border-radius: 60px; */
  display: flex;
  flex-direction: row !important;
  font-size: 30px;
  height: 60px;
  padding: 20px;
  width: 100%;
  gap: 20px;
  justify-content: space-around;
  box-sizing: border-box;
}

.navigator a {
  /* font-weight: 600; */
  font-size: 36px;
}


.list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin-top: 150px;
}

.list a {
  background-color: rgb(253, 0, 0);
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
  min-width: 400px;
  min-height: 400px;
  width: 100%;
  min-width: 400px;
  min-height: 400px;

}

.button {
  font-size: 20px;
  position: absolute;
  top: 70px;
  left: 50px;
  color: rgb(254, 7, 7);
  background-color: transparent;
  border: 30;
  z-index: 100;
}

.wrappe {
  max-width: 900px;
  width: 100%;
  height: auto;
  margin-top: 0px;
  font-size: 20px;
  z-index: 100;

}

@media (max-width: 1400px) {
  .wrappe {
    max-width: 700px;
  }
}

@media (max-width: 1200px) {
  .list {
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding-left: 0;
    gap: 10px;
  }

  .navigator a {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .navigator a {
    font-size: 14px;
  }
}

@media (min-width: 998px) {
  h1 {
    font-size: 46px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 35px;
  }
}

@media (min-width: 576px) {
  h1 {
    font-size: 24px;
  }
}

@media (max-width: 420px) {

  .carousel__slide,
  .carousel {
    height: 300px;
    width: 300px;
  }
  .carousel__slide {
     transform: translateZ(150px) !important; 
  }
}